h1 , h2 , h3 {
    color: #36cfff;
    font-weight: normal;
    text-transform: uppercase;
}

.notes {
    color: #ff48e753;
}

* {
    color: red;
}
ol li {
    color: blue;
}
/* 
body > p {
    color: green;
} */