/* img {
    border: 10px solid rgb(60, 60, 203);
    height: 100px;
    width: 200px;
    opacity: 20;
} */
a:link {
    color: #4285F4;
}
a:visited {
    color: #02028c;
}
a:hover {
    color: #d2691e;
}
a:active {
    color: #800080;
}